/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 jan. 2021, 11:32:59
    Author     : anton
*/

h2 {
  color: blue;
  text-align: center;
}

.wrapper{
    
    text-align: center;
}

.button {
background-color: #4CAF50;
border: none;
width: 500px;
height: 60px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

.checkbox{
    
    text-align: center;
}
