
/* 
    Created on : Feb 25, 2021, 12:46:59 PM
    Author     : Emma Dirnberger
*/
/*.standardbutton {
    color: #ed8d8d;
    background-color: #393232;
    border-color: black;
}*/
.standardbutton{
    color: #ed8d8d;
    background-color: #393232;
    border-color: black;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;

}

.standardbutton:hover {
    color: #ed8d8d;
    background-color: #8d6262;
    border-color: black;
}

.standardbutton:active:focus {
    color: #393232;
    background-color: #8d6262;
    border-color: black;
}

.panel {
    background-color: #4d4545;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.div.panel-heading {
    background-color: #003946;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #393232;
}

a.panel-title-link {
    color: #ed8d8d;
    text-align: center;
}

input::placeholder {
    color: #fff;
}

body {
    background-image: url(homepagebackground.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.linkcolor {
    color: #29c7ac;
}

.linkcolor:hover {
    color: #008080;
}

.panelgridstyle {
    text-align: center;
    margin: 2em auto;
    width: 50%;
    padding: 2em;
}

.alert-danger {
    width: 20em;
    margin: 1em auto;
    margin-bottom: 2em;
    margin-top: 2em;
}

.blockpanelgroup {
    display: block; 
    text-align: center;
}