
/* 
    Created on : Feb 25, 2021, 12:46:59 PM
    Author     : Emma Dirnberger
*/
.btn-default {
    color: #ed8d8d;
    background-color: #393232;
    border-color: black;
}

.btn-default:hover {
    color: #ed8d8d;
    background-color: #8d6262;
    border-color: black;
}

.btn-default:active:focus {
    color: #393232;
    background-color: #8d6262;
    border-color: black;
}

.panel {
    background-color: #4d4545;
}

.div.panel-heading {
    background-color: #003946;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #393232;
}

a.panel-title-link {
    color: #ed8d8d;
    text-align: center;
}

input::placeholder {
    color: #fff;
}


