
/* homepage.css */

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 12s ease-in-out infinite;
    background-size: 400% 100%;
    padding: 0.80em;
}

h1 {
    font-size: 5em;
    text-align: center;
    font-family: Brush Script MT, cursive;
}

h2 {
    text-align: center;
    font-family: Brush Script MT, cursive;
}

#loginblock
{
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

#playblock
{          
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.guestplaybutton{
    color: #29c7ac;
    background-color: #393232;
    border-color: black;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 2em;

}

.guestplaybutton:hover {
    color: #29c7ac;;
    background-color: #008080;
    border-color: black;
}

.guestplaybutton:active:focus {
    color: #393232;
    background-color: #008080;
    border-color: black;
}

.blockpanelgroup {
    display: block; 
    text-align: center;
}

.panelgridstyle td {
    background-color: #4d4545;
    text-align: center;
    margin: 0 auto;
}

.loginpanel {
    width: 30%; 
    margin: 0 auto;
}

.loginlabels {
    color: #ed8d8d; 
    padding: 3em; 
    margin: 0 auto;
}

.linkcolor {
    color: #29c7ac;
}

.linkcolor:hover {
    color: #008080;
}

