
/* homepage.css */

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 12s ease-in-out infinite;
    background-size: 400% 100%;
}


body {
    background-image: url(homepagebackground.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: Brush Script MT, cursive;
}

h2 {
    text-align: center;
    font-family: Brush Script MT, cursive;
}

#loginblock
{
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

#playblock
{          
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.standardbutton{
    color: #ed8d8d;
    background-color: #393232;
    border-color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    
}

.standardbutton:hover {
    color: #ed8d8d;
    background-color: #8d6262;
    border-color: black;
}

.standardbutton:active:focus {
    color: #393232;
    background-color: #8d6262;
    border-color: black;
}

.panelgridstyle td {
    background-color: #4d4545;
    text-align: center;
    
}


