/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 mars 2021, 17:52:50
    Author     : Rebec, Emma
*/

.box{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    background-color: #393232;
}
.ld_header{
    text-align: left;
    padding: 2%;
    color:#29c7ac;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

body .ui-datatable thead th{
    color: #29c7ac;
    background: #393232;
}

body .ui-datatable .ui-datatable-data > tr{
    color: #29c7ac;
    background: #4d4545;
}

.ui-datatable.ld_table body .ui-datatable-data tr,
.ui-datatable.ld_table .ui-datatable-data-empty tr,
.ui-datatable.ld_table .ui-datatable-data td,
.ui-datatable.ld_table .ui-datatable-data-empty td {
    border-style: none;
}

.quizTitle{
    text-align: center;  
    font-size: 2em; 
}

h3{
    text-align: center;  
    font-size: 1.5em;
}

.playquizdiv{
    text-align: center;
}

.gameStatsDiv{
    display: table-cell;
}

.card{
    text-align: center;
}

.quizQuestion{
    text-align: center; 
    font-size: 1.5em;
}

.gameStatsText{
    margin-left: 2.5em; 
    font-size: 1.25em;
}

.growlStyle{
    margin-bottom: 1.5em; 
    margin-top: 1.5em;
}

#moddedCard{
    text-align: right;
    margin-right: 1em; 
    margin-top: 0.5em
}

/* Couldn't simply set it to a styleClass */
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-disabled{
    margin-left: 1em;
}

/* Couldn't simply set it to a styleClass */
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left{
    margin-left: 1em;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{
    margin-left: 1em;
    margin-top: 0.5em;
}

.changeratingButton {
    width: 5rem;
}

.outputLabel{
    margin-right: 0.5em;
}